.t1{
    border: 2px solid red;
    
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(165, 42, 42, 0.322); 
    }
   
button{
    font-size: 20px;
    background-color: red;
    color: green;
    border-radius: 100vmax;
    padding: 10px;
    cursor: pointer;
}












/* .pro{
    height: 320px;
    width: 400px;
    border: 2px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.pro img{
    height: 160px;
    width: 250px;
    text-align: center;
}
.pro p{
    font-size: 20px;
}
.pro button{
    height: 50px;
    width: 70px;
    background-color: gray;
    color: wheat;
    font-size: 20px;
    border-radius: 100vmax;
    text-align: center;
    cursor: pointer;
}
.nan{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   
} */